In [10]:
import pandas as pd

df = pd.read_csv("csv_full_fiction.csv")

In [11]:
df

,ID,Title,Author,Series,Language
0,1,17,﻿McCauley Paul J,Unnamed: 3,English
1,2,17,Mcauley Paul J,NaN,English
2,3,33,Moore G E,Wittgenstein\,NaN
3,4,33,Moore G E,Wittgenstein\,NaN
4,5,47,Mosley Walter,NaN,English
...,...,...,...,...,...
2837376,2837404,Path of a Warrior (Redtail\,s Clans Shadowstar\,NaN,NaN
2837377,2837405,מוקף באידיוטים,תומס אריקסון,NaN,Hebrew
2837378,2837406,Collected Stories,Vladimir Nabokov,NaN,English
2837379,2837407,Safe for Now,Bob Howard,The Infected Dead 9,English
2837380,2837408,The Outside Circle,LaBoucane-Benson Patti,NaN,English

In [12]:
import pandas as pd

def remove_consecutive_duplicates(df):
    rows_to_remove = []
    for i in range(1, len(df)):
        if df.loc[i, 'Author'] == df.loc[i-1, 'Author'] and df.loc[i, 'Title'] == df.loc[i-1, 'Title']:
            rows_to_remove.append(i)

    df = df.drop(rows_to_remove)
    return df

In [13]:
df = remove_consecutive_duplicates(df)

In [14]:
df

,ID,Title,Author,Series,Language
0,1,17,﻿McCauley Paul J,Unnamed: 3,English
1,2,17,Mcauley Paul J,NaN,English
2,3,33,Moore G E,Wittgenstein\,NaN
4,5,47,Mosley Walter,NaN,English
6,7,48,Herbert James,NaN,English
...,...,...,...,...,...
2837376,2837404,Path of a Warrior (Redtail\,s Clans Shadowstar\,NaN,NaN
2837377,2837405,מוקף באידיוטים,תומס אריקסון,NaN,Hebrew
2837378,2837406,Collected Stories,Vladimir Nabokov,NaN,English
2837379,2837407,Safe for Now,Bob Howard,The Infected Dead 9,English
2837380,2837408,The Outside Circle,LaBoucane-Benson Patti,NaN,English