In [1]:
import pandas as pd

In [25]:
with open("indian_books.txt",'r') as file:
    data = []
    lines = file.readlines()
    for line in lines:
        arr = line.split("\t")
        if(len(arr)==1):
            arr=arr[0].split("  ")
            while('' in arr):
                arr.remove('')

        for i in range(len(arr)):
            arr[i] = arr[i].replace('\n',"").strip()

        try:
            dic = {"Title":arr[0],"Author":arr[1],"Series":"NA","Lang":"English","Label":"Indian"}
        except:
            dic = {"Title":arr[0],"Author":"NA","Series":"NA","Lang":"English","Label":"Indian"}
        data.append(dic)
    
    df = pd.DataFrame(data)

In [26]:
df

,Title,Author,Series,Lang,Label
0,Book Author,NA,NA,English,Indian
1,Making India Awesome,Chetan Bhagat,NA,English,Indian
2,One Indian Girl,Chetan Bhagat,NA,English,Indian
3,Half Girlfriend,Chetan Bhagat,NA,English,Indian
4,Revolution 2020,Chetan Bhagat,NA,English,Indian
...,...,...,...,...,...
252,The Winning Way,Harsha Bhogle,NA,English,Indian
253,Nehru: The Invention of India,Shashi Tharoor,NA,English,Indian
254,"Nellie, 1983",Diganta Sharma,NA,English,Indian
255,A New Idea of India,Harsh Madhusudhan,NA,English,Indian
256,Nine Lives: In Search of the Sacred in Modern ...,William Dalrymple,NA,English,Indian

In [27]:
df.to_csv("indian_books.csv")

Merging datasets

In [32]:
df1 = pd.read_csv("../llms/non_indian_books.csv")
df2 = pd.read_csv("indian_books.csv")
df2 = df2.append(df1, ignore_index=True).drop('Unnamed: 0',axis=1)
df2.to_csv("merged_dataset.csv")

/var/folders/hr/cn8gd6d15xv_6m22yptdtyhw0000gn/T/ipykernel_62546/2646935129.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(df1, ignore_index=True).drop('Unnamed: 0',axis=1)